img {
     width:100%;
 }
 
 h1 { 
     display: block;
     font-size: 2em;
     margin-top: 0.67em;
     margin-bottom: 0.67em;
     margin-left: 1em;
     margin-right: .5em;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 p {
     display: block;
     font-size: 12px;
     margin-top: 0.67em;
     margin-bottom: 0.67em;
     margin-left: 1em;
     margin-right: .5em;
    font-weight: regular;
    font-family: Georgia, serif;
}

.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}
