img {
     width:100%;
 }

body 
{
 margin-top:0px;
 margin-left:100px;
 margin-right:100px;
 background-color: lightblue;
}
 
 h1 { 
     display: block;
     font-size: 3em;
     margin-top: 0.67em;
     margin-bottom: 0.67em;
     margin-left: 1em;
     margin-right: .5em;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
 }

h2 {
     display: block;
     font-size: 2em;
     font-weight: regular;
     font-family: Arial, Helvetica, sans-serif;
}

h5 {
     display: block;
     font-size: 2em;
     font-weight: italics;
     font-family: Arial, Helvetica, sans-serif;
}
 
 p {
     display: block;
     font-size: 1em;
     margin-top: 0.67em;
     margin-bottom: 0.67em;
     margin-left: 1em;
     margin-right: .5em;
    font-weight: regular;
    font-family: Georgia, serif;
}

.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

div.gallery:hover {
    
}

div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: right;
    width: 24.99999%;
     opacity: 1;
      display: block;
     transition: .5s ease;
      backface-visibility: hidden;
}

.responsive:hover{
     opacity:0.5;
}

@media only screen and (max-width: 1080px) {
    .responsive {
        width: 33.333333%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
     
}
