img {
    width:100%;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: .25em;
    margin-right: .25em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: .25em;
    margin-right: .25em;
    font-weight: regular;
    font-family: Georgia, serif;
}
